@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', Arial, sans-serif; /* Cambiado a Bebas Neue */
    background-color: #d1cece;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; /* Aumentada la padding */
    background-color: #d1cece; /* Cambiado el color de fondo */
    border-bottom: 2px solid #bbb; /* Cambiada la grosor del borde */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; /* Aumentada el tamaño de la imagen */
    height: 80px; /* Aumentada el tamaño de la imagen */
    margin-right: 15px; /* Aumentado el margen a la derecha */
}

.titulo {
    font-size: 1.4em;
}

.navegacion {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    font-size: 19px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px; /* Aumentado el espacio entre los elementos del menú */
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 1s; /* Agregado efecto de transición */
}
nav ul li a:hover {
    color: #6D0E00; /* Cambiado el color al pasar el mouse */
    transform: scale(1.1);
    transition: transform 0.3 ease;
}
.hero {
    background-image: url('/images/pra1.jpeg'); /* Cambia esto a la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 30px;
    text-align: center;
    max-width: 600px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.content-box h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #333;
    margin-bottom: 10px;
}

.content-box h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.pie-de-pagina {
    background-color: #333;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.pie-de-pagina p {
    margin: 0;
    font-size: 20px;
}

.sociales-contenedor {
    text-align: right; /* Alinear todo a la derecha */
}

.titulo-redes {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales li {
    margin-left: 15px;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.redes-sociales a:hover {
    text-decoration: underline;
}