<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/CSS/alumno-style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="  /images/logo.png" alt="Logo">
            <h1 class="titulo">Colegio Provincial Dr. Ernesto Guevara</h1>
        </div>
        <nav class="navegacion">
            <ul>
                <li><a href="/src/vistas/alumno.ejs">Inicio</a></li>
                <li><a href="#">Info</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="content-box">
                <h1>¿Querés ver tu trayectoria?</h1>
                <a href="/vista" class="button">Mira tus notas</a>
            </div>
        </section>
    </main>

    <footer>
        <footer class="pie-de-pagina">
            <div class="contenedor">
                <p>&copy; 2024 InKático. Todos los derechos reservados.</p>
                <div class="sociales-contenedor">
                    <p class="titulo-redes">Seguinos en las redes</p>
                    <ul class="redes-sociales">
                        <li><a href="https://www.facebook.com/colegioguevara">Facebook</a></li>
                        <li><a href="https://www.youtube.com/channel/UCqqqTGXX5zJ1v6XJGoIcwdQ/playlists" target="_blank">YouTube</a></li>
                        <li><a href="https://secundario.aulasdigitales.tdf.gob.ar/course/index.php?categoryid=2">Aulas Digitales</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </footer>
</body>
</html>
