<footer class="pie-de-pagina">
    <div class="contenedor">
        <p>&copy; 2024 InKático. Todos los derechos reservados.</p>
        <div class="sociales-contenedor">
            <p class="titulo-redes">Redes Sociales</p>
            <ul class="redes-sociales">
                <li><a href="https://www.facebook.com/colegioguevara">Facebook</a></li>
                <li><a href="https://www.youtube.com/channel/UCqqqTGXX5zJ1v6XJGoIcwdQ/playlists"
                        target="_blank">YouTube</a></li>
                <li><a href="https://secundario.aulasdigitales.tdf.gob.ar/course/index.php?categoryid=2">Aulas
                        Digitales</a></li>
            </ul>
        </div>
    </div>
</footer>